USE [master]
GO
/****** Objeto: Database [TP06] Fecha de script: 18/9/2026 17:24:24 ******/
CREATE DATABASE [TP06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TP06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TP06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP06]
GO
/****** Objeto: Table [dbo].[PartidaProgresos] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartidaProgresos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdPartida] [int] NOT NULL,
	[Progreso] [nvarchar](max) NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Partidas] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreParticipante] [varchar](50) NOT NULL,
	[idSala] [int] NOT NULL,
	[UsuarioId] [int] NULL,
	[SalaActual] [int] NULL,
	[sessionId] [nvarchar](100) NULL,
	[estado] [varchar](50) NULL,
	[nivelActual] [int] NULL,
	[fechaInicio] [datetime] NULL,
	[fechaFin] [datetime] NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PiezasMapaPuzzle] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PiezasMapaPuzzle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[salaId] [int] NOT NULL,
	[partidaId] [int] NOT NULL,
	[numeroPieza] [int] NOT NULL,
	[region] [varchar](100) NULL,
	[pista] [varchar](300) NULL,
	[respuestaCorrecta] [varchar](100) NULL,
	[completada] [bit] NOT NULL,
	[fechaCompletacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Respuestas] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPartida] [int] NOT NULL,
	[valorIngresado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Respuestas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Salas] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nivel] [varchar](50) NOT NULL,
	[pista] [varchar](50) NOT NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 18/9/2026 17:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[fechaCreacion] [varchar](50) NULL,
	[passwordHash] [nvarchar](512) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([id], [nivel], [pista], [idUsuario]) VALUES (1, N'Sala 1', N'Ordena las imagenes para formar MAPAMUNDI', NULL)
INSERT [dbo].[Salas] ([id], [nivel], [pista], [idUsuario]) VALUES (2, N'Sala 2', N'Descubri en que pais esta el aeropuerto', NULL)
INSERT [dbo].[Salas] ([id], [nivel], [pista], [idUsuario]) VALUES (3, N'Sala 3', N'Pendiente', NULL)
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id], [nombre], [email], [fechaCreacion], [passwordHash]) VALUES (1, N'joydavi', N'joy.d.1601@gmail.com', N'Sep 18 2026  5:06PM', N'120000.B4ZtJecUCq+0tSJ6W9Hefw==.1wnvRr4PBw5jjsROr4YpKGNkk9+PMLCKyhWqYkJIxks=')
INSERT [dbo].[Usuario] ([id], [nombre], [email], [fechaCreacion], [passwordHash]) VALUES (2, N'solfuks', N'sol@gmail.com', N'Sep 18 2026  5:19PM', N'120000.y1Y6JzvNCJIIw7IJWeLe0Q==.SnaZGKYi+N9UJbmbNqGY2Q4DVcMD4YVAJ3R8Vy0KJLg=')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[PartidaProgresos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[PiezasMapaPuzzle] ADD  DEFAULT ((0)) FOR [completada]
GO
ALTER TABLE [dbo].[PartidaProgresos]  WITH CHECK ADD  CONSTRAINT [FK_PartidaProgresos_Partidas] FOREIGN KEY([IdPartida])
REFERENCES [dbo].[Partidas] ([id])
GO
ALTER TABLE [dbo].[PartidaProgresos] CHECK CONSTRAINT [FK_PartidaProgresos_Partidas]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Salas] FOREIGN KEY([idSala])
REFERENCES [dbo].[Salas] ([id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Salas]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Usuario]
GO
ALTER TABLE [dbo].[PiezasMapaPuzzle]  WITH CHECK ADD  CONSTRAINT [FK_PiezasMapaPuzzle_Partidas] FOREIGN KEY([partidaId])
REFERENCES [dbo].[Partidas] ([id])
GO
ALTER TABLE [dbo].[PiezasMapaPuzzle] CHECK CONSTRAINT [FK_PiezasMapaPuzzle_Partidas]
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Partidas] FOREIGN KEY([idPartida])
REFERENCES [dbo].[Partidas] ([id])
GO
ALTER TABLE [dbo].[Respuestas] CHECK CONSTRAINT [FK_Respuestas_Partidas]
GO
ALTER TABLE [dbo].[Salas]  WITH CHECK ADD  CONSTRAINT [FK_Salas_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Salas] CHECK CONSTRAINT [FK_Salas_Usuario]
GO
USE [master]
GO
